/*? ===== IMPORT =====*/
@import url(../css/media/mediaQuerie.css);


/** = Root =*/
:root {
    /*=Color Basic=*/
    color-scheme: light dark;
    --clr-white: #fff;
    --clr-white2: #F2F2F2;
    --clr-white3: #BFBFBF;
    --clr-white4: #fcfdfd;
    --clr-black: #000;
    --clr-black-2: #0d0d0d;
    --brand-color: #1d9bf0;
    --gray-color: #cfd9de;
    --gray-colorTwo: #f8f8f8;
    --brand-color: rgb(238, 9, 9);
    --blue-color: #065fd4;
    --dark-color: #181818;

    /*=Typography=*/
    --font-family-Mon: 'Montserrat', sans-serif;
    --font-family-lat: 'Lato', sans-serif;
    /*=Font Size=*/
    --font-size-extra: 3rem;
    --font-size-title: 2.4rem;
    --font-size-Big: 1.8rem;
    --font-size-Medium: 1.6rem;
    --font-size-medium-plus: 1.5rem;
    --font-size-small: 1.2rem;
    --font-size-small-plus: 0.8rem;
    /*=Margins=*/
    --margin-top: 2rem;
    --margin-bottom: 2rem;
    --margin-left: 1rem;
    --margin-right: 1rem;
    --margin: 0 auto;
    /*=Text=*/
    --letter-spacing: 0.1rem;
    /* =  Shadows =*/
    --shadow-color: 286deg 36% 56%;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --transparent-light-color: rgba(255, 255, 255, .05);
    --transparent-dark-color: rgba(0, 0, 0, .75);
}

/** = Css Style General =*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/** =Animation =*/
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

p,
span {
    letter-spacing: 0.1rem;
}

h1,
h2,
h3 {
    margin: 2rem auto;
}

h1 {
    font-size: 2.4rem;
}

/*? ==== Button */
button {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

.btn {
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.btn:hover {
    outline: 2px solid #333;
    color: #000;
}

/** ======= ============ Project General CSS =========== ============ **/
.layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar tags"
        "sidebar content";
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 5% 85%;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 0 20px;
    position: sticky;
}

header i {
    font-size: 2rem;
}

button {
    background: transparent;
    border: 0;
    padding: .5rem;
}

/*? ===== Logo*/
.fa-bars {
    color: #033030;
    margin-right: 2rem;
}

.fa-youtube {
    color: var(--brand-color);
}

.logo--icon {
    display: flex;
    align-items: center;
}

.logo-icon i {
    margin-right: 5px;
    font-weight: 900;
}